<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>
      <img src="/images/maze-rats.png" style="height: 150px; padding: 0 2rem 2rem 0;">
      <img src="/images/osr.png" style="height: 150px; padding: 0 2rem 2rem 0;">
    </p>
    <p>
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}">Twitter</a>{% endif %}
      {% if site.instagramUsername %}<a href="https://instagram.com/{{ site.instagramUsername }}">Instagram</a>{% endif %}
      <a href='https://ko-fi.com/U7U4DCU2' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi5.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
    </p>
  </div>
</footer>
