/* ==========================================================================
   Article
   ========================================================================== */

.c-article {

}

.c-article__main {
  max-width: 76rem; // 760px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  @include fs--body;

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__black, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
  }

  blockquote {
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    padding: 2.5rem;
    background: $c__light-grey;
  }

  ul, ol {
    margin-left: 40px;
  }

  li {
    margin-bottom: 2rem;
  }

  p, ul, ol {
    margin-bottom: 4rem;
  }

  h1, h2, h3, h4 {
    font-family: "IM Fell English";
    margin-bottom: 0.2rem;
  }
}


.layout__gallery img {
  width: 150px;
  height: 150px;
  margin: 0 10px 10px 0;
  box-shadow: 0 0 3px #333;
  border-radius: 4px;
}
